html {
  font-family: sans-serif;
  --text-color: 51 51 51;
  color: rgb(var(--text-color));
  --background-color: 255 255 255;
  background-color: rgb(var(--background-color));
}
html, body {
  margin: 0;
  padding: 0;
}
/* 
html {
  --text-color: 204 204 204;
  --background-color: 24 24 24;
}
/* */
svg-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
  overflow: visible;
}
