.tests {
  & > h2 {
    margin: 1rem 1rem 0.1rem 1rem;
  }
  vg-graph {
    display: block;
    position: relative;
    width: calc(100% - 2em);
    height: 200px;
    margin: 0 1rem 1rem 1rem;
    outline: 1px solid black;
  }
}
